name: network
description: A new Flutter package.
version: 0.0.1
author:
homepage:

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.12.0+1
  dio:
  shared_preferences:
  uuid:

dev_dependencies:
  flutter_test:
    sdk: flutter